.button {
  border: none;
  outline: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s;

  &.primary-button {
    background-color: rgb(228, 12, 12);
    color: rgb(255, 245, 236);
  }

  &:active {
    transform: scale(0.9);
  }
}
